@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Azure Key Vault and Web.config</h1>
        <br><br><br><br><br>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            @if (ViewBag.KeyVaultEnv != null && @ViewBag.KeyVaultDb != null && @ViewBag.KeyVaultSecret != null)
            {
                <h3>@ViewBag.KeyVaultEnv</h3>
                <p>@ViewBag.KeyVaultDb</p>
                <p>@ViewBag.KeyVaultSecret</p>
            }
            else
            {
                <h3>From Azurekeyvault</h3>
                <p>No Azure Key Vault data available.</p>
            }

            <h3>@ViewBag.WebConfigEnv</h3>
            <p>@ViewBag.WebConfigDb</p>
            <p>@ViewBag.WebConfigSecret</p>
            <br><br><br>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
    </div>
</main>